@import "variables.css";

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0 !important;
    /* background-color: #f0f0f0; */
    background-color: #e2e2e2;
}

/* STYLES */
.header{
    text-align: center;
    background-color: var(--main-color);
    padding: 15px 0;
    color: #fff;
}

/* NAV */
.nav{
    /* background-color: #cccccc; */
    margin-bottom: 12px;
}

.nav__bar{
    padding: 10px 20px;
    background-color: var(--second-color);
    color: #fff;
}

.nav__bar > a { color: #fff; }
.nav__bar > img {filter: invert(99%) sepia(72%) saturate(562%) hue-rotate(201deg) brightness(116%) contrast(100%);}

.nav__links{
    padding: 10px 20px !important;
    padding-top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    background-color: #e2e2e2;
}

.nav__links li{
    padding: 5px 0;
}

.nav img{
    width: 10px;
    height: auto;
}

.link{
    text-decoration: none;
    color: #000;
}

.nav--active .nav__links{
    display: block;
}

/* CONTENT */
.content{
    /* padding: 0 10px; */
}

.result{
    margin-top: 15px;
}

.article{
    width: 100%;
    /* background-color: #fff; */
    /* box-shadow: 0px 0px 7px #000; */
    margin-top: 20px;
    padding: 10px;
}

.article ul{
    padding-left: 25px;
}

.article h2{
    text-align: center;
}

@media(min-width:500px){
    .article h2{
        text-align: left;
    }
}

@media(min-width:600px){
    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        justify-content: space-around;
    }
    .container > *{
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        margin-bottom: 50px;
        width: 100%;
    }
    .nav__bar{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 1.5em;
        font-weight: bold;
    }
    .nav__links { 
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .article h2{
        padding: 10px 20px;
        background-color: var(--second-color);
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .article{
        margin: 0;
        padding: 0;
    }
}

@media(min-width:950px){
    .container{
        flex-direction: row;
    }
    .container > *{
        width: 45%;
    }
}

/* FORM STYLES */
.text-input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 7px;
}

.button{
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: 7px;
    background-color: var(--second-color);
    color: #fff;
    font-size: 1rem;
    outline: none;
}