@import "variables.css";

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0 !important;
    background-color: #e2e2e2;
    width: 100% !important;
}

/* STYLES */
.header{
    text-align: center;
    background-color: var(--second-color);
    padding: 15px 0;
    color: #fff;
    /* box-shadow: var(--box-shadow); */
}

/* CONTENT */
.result{
    margin-top: 10px;
    font-size: 1.1rem;
    white-space: nowrap;
    padding: 6px;
    overflow-x: scroll;
    /* background-color: #fff; */
}

@media(min-width: 950px){
    .result{overflow-x: auto;}
}

p{
    margin-top: 0px;
    margin-bottom: 22px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: var(--second-color);
}

/* WINDOW */
.window{
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    height: fit-content;
    width: 100%;
}
@media(min-width: 950px){
    .window{
        margin-bottom: 0;
    }
}

.window__title{
    padding: 10px 20px;
    background-color: var(--second-color);
    color: #fff;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
}
.window__title > img {
    filter: invert(99%) sepia(72%) saturate(562%) hue-rotate(201deg) brightness(116%) contrast(100%);
    width: 10px;
    height: auto;
    transition: all 0.2s linear;
}

.window__content{
    height: 0;
    overflow: hidden;
    transition: height 0.2s linear;
}
.window__content__handler{
    padding: 15px;
}

.window--active .window__content{
    height: fit-content !important;
}

.window--active .window__title > img{
    transform: rotateZ(90deg);
}

/* CONTAINER */
.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: 60px;
    grid-gap: 40px;
}

@media(min-width:950px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

/* TABLE */
table {
    width: 100%;
    border-spacing: 0;
    margin: 10px 0;
}
th, td {
    border: var(--table-border);
    border-bottom: none;
    border-right: none;
    padding: 4px;
}

tr:last-child td {
    border-bottom: var(--table-border);
}

tr td:last-child {
    border-right: var(--table-border);
}

/* FORM STYLES */
.text-input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 7px;
}

.button{
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: 7px;
    background-color: var(--second-color);
    color: #fff;
    font-size: 1rem;
    outline: none;
}