/* CUSTOM WINDOWS */

.window--active.grid-row-1{
    grid-row: span 1;
}
.window--active.grid-row-2{
    grid-row: span 2;
}
.window--active.grid-row-3{
    grid-row: span 3;
}
.window--active.grid-row-4{
    grid-row: span 4;
}
.window--active.grid-row-5{
    grid-row: span 5;
}
.window--active.grid-row-6{
    grid-row: span 6;
}
.window--active.grid-row-7{
    grid-row: span 7;
}
.window--active.grid-row-8{
    grid-row: span 8;
}
.window--active.grid-row-9{
    grid-row: span 9;
}

/* Nav */
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li{
    padding: 5px 0;
    margin-left: 10px;
}

.nav img{
    width: 10px;
    height: auto;
}

.link{
    text-decoration: none;
    color: #000;
}

/* Updates */
.updates ul{
    padding-left: 21px;
    margin: 20px 0;
}

/* Result hydrocarbons */
.hydrocarbons .result{
    height: 180px;
    background-color: #fff;
    position: relative;
}

.hydrocarbons .result > div{
    position: absolute;
}