<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemi-Lab</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap"
        rel="stylesheet">

        <link rel="stylesheet" href="./../../css/reset.css">
    <link rel="stylesheet" href="./../../css/main.css">
    <link rel="stylesheet" href="./../../css/component.css">
    <link rel="stylesheet" href="./../../css/windows.css">

</head>

<body>
    <header class="header">
        <h1>Chemi-Lab</h1>
    </header>

    <div class="container">
        <nav class="window grid-row-1">
            <header class="window__title">
                <img src="./../../img/arrow-left-solid.svg">
                <a href="./../../">Menu</a>
            </header>
            <div class="window__content">
                
            </div>
        </nav>
        
        <main class="window window--active molecule_mass grid-row-2">
            <header class="window__title">
                Masa cząsteczkowa
            </header>
            <div class="window__content">
                <div class="window__content__handler">
                    <form>
                        <input type="text" id="molecule" class="text-input" placeholder="H2O" required="required">
                        <input type="button" value="Oblicz" class="button">
                    </form>
                    
                    <div class="result">
                    
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="./../../data/elements-mass.js"></script>
    <script src="main.js"></script>
    <script src="./../../theme.js"></script>
</body>
</html>